@model PagedList.IPagedList<WebShopMobile_core.Models.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Danh sách sản phẩm</h2>
<style type='text/css'>
    table {
        counter-reset: rowNumber;
    }

    .stt {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>
@using System.Globalization;
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group-append"><a href="/Admin/Products/Create" class=" btn btn-success">Thêm mới</a></div>
            </div>
        </div>
        

        </div>


    
}
<table class="table table-hover table-bordered border-danger">
    <tr style="background :#9fcbe875">
        <th>
            Số thứ tự
        </th>
        <th>
            Loại Sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Giá
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Cập nhật
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="stt">
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_category.category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @{
                    // lấy đường dẫn file ảnh
                    string ImagePath = "~/wwwroot/img/" + item.photo;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            </td>
            <td>
                <span>@String.Format(cul, "{0:N0}", item.price)</span>
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_at)
            </td>
            <td>
                <a href="/Admin/Products/Edit/@item.id" class="btn btn-success btn-lg active btn-sm" role="button" aria-pressed="true">Sửa</a>
           
                <a href="/Admin/Products/Delete/@item.id" class="btn btn-danger btn-lg active btn-sm" role="button" aria-pressed="true">Xóa</a>
                

            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
@section scripts {
    <script>
        $(document).ready(function () {
            $('.tn').click(function () {
                toastr.info('Hello World!', 'Title');
            });
        });
    </script>
}